<div data-ng-if="this[builder.vm('selector')].isLoading && !this[builder.vm('selector')].dataFiltered.length">
	<apt-loading-indicator></apt-loading-indicator>
</div>
<div data-ng-if="!this[builder.vm('selector')].isLoading && !this[builder.vm('selector')].dataFiltered.length"
     class="well no-border">
	<div class="text-muted">
		<h2 translate>No result</h2>
		<p translate>There is no any result found.</p>
	</div>
	<apt-inline-help translate>`list in search` only looks in the current listing as you type in, in order to perform a full search you should press `enter` key.</apt-inline-help>
</div>